* {
    padding: 0;
    margin: 0;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    background-color: #f0eff4;
}

body, button, input, select, textarea {
    font-family: 'Microsoft YaHei', Arial, Helvetica;
}

.center-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.vertical-middle {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

/*  oauth.html  */

/*.loading img{*/
/*position: absolute;*/
/*top: 50%;*/
/*left: 50%;*/
/*margin-right: -50%;*/
/*transform: translate(-50%, -50%);*/
/*-webkit-transform: translate(-50%, -50%);*/
/*}*/

.loading {
    position: relative;
    height: 100%;
}

.top {
    text-align: center;
    background-color: white;
    padding: 1px;
}

.top img {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.top p {
    margin: -0.5rem 1.0rem 2rem;
    /* padding: 0.2rem 1.5rem 0rem 1.5rem; */
    color: #7a7a7a;
    font-size: 1rem;
    text-align: center;
}

.mid {
    margin: 1.5rem 0;
    /* height: 3rem; */
    /* vertical-align: middle; */
}

.mid input {
    margin-left: 8%;
    /*height: 0.9rem;*/
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    margin-right: 0.2rem;
}

.mid {
    font-size: 0.8rem;
    /* display: inline; */
    color: #999999;
    /* height: 3rem; */
    text-align: center;
    margin-right: 1rem;
}

.login-sure {
    width: 84%;
    height: 3rem;
    /* text-align: center; */
    margin-left: 8%;
    background: #e9af00;
    color: white;
    font-size: 1.2rem;
    /* margin-top: 2rem; */
    border-radius: 5px;
    /* box-shadow: none; */
    border: none;
}

.grant-done {
    height: 100%;
    position: relative;
}

/*  walletOpen.html  */

#pls-use-wallet-open, #pls-downlaod-newest-app {
    text-align: center;
    margin-top: 2rem;
}

.wallet-app-download {
    text-align: center;
    margin-top: 2rem;
}
